:root{
    --color-white: white;
    --color-blue: #9ADCFF;
    --color-yellow: #FFF89A;
    --color-light-pink: #FFB2A6;
    --color-deep-pink: #FF8AAE;
    --color-black: #1A1A40;
    --color--gray: rgb(221, 221, 221);

    --font-size-2xl: 32px;
    --font-size-xl: 28px;
    --font-size-lg: 18px;
    --font-size-md: 16px;
    --font-size-sm: 12px;
}

* {
    box-sizing: border-box;
}

body{
    background: var(--color-white);
    margin: 0;
    color: var(--color-black);
}

button{
    border: 0;
    background: none;
    margin: 0;
    display: inline-block;
    color: var(--color-black);
    outline: none;
}

h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}

button:hover{
    cursor: pointer;
}

.no-display{
    display: none;
}

.hidden{
    visibility: hidden;
}


/* header */
header{
    font-size: var(--font-size-lg);
    position: sticky;
    min-height: calc(var(--vh, 1vh) * 10);
    max-height: calc(var(--vh, 1vh) * 10);
    box-shadow: 0px 2px 5px gray;
    z-index: 200;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header .container{
    width: 95vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    justify-content: space-between;
}

header .sub-container{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
}

header #font-control{
    display: none;
}

header .container-title{
    font-size: var(--font-size-xl);
    padding-left: 1em;
    padding-right: 1em;
}

header #back-button{
    font-size: var(--font-size-xl);
    padding-top: 5px;
    margin-right: 15px;
}

header .sub-container button{
    font-size: var(--font-size-2xl);
    padding: 0.5rem;
}

header #bc-button{
    background: var(--color-blue);
}

header #ad-button{
    background: var(--color-deep-pink);
}

header #etc-button{
    background: var(--color--gray);
}

header #bc-button.no-background, #ad-button.no-background,
#etc-button.no-background{
    background: none;
}

.sectionA{
    height: calc(var(--vh, 1vh) * 80);
    width: 100vw;
    background: transparent;
    box-sizing: border-box;
    position: absolute;  
    z-index: 100;
}



/* bible books */
.container-bible-books{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: calc(var(--vh, 1vh) * 1);
    padding-bottom: calc(var(--vh, 1vh) * 2);
    text-align: center;
    overflow-y: scroll;
}

.container-bible-books .bc{
    background: var(--color-blue);
}

.container-bible-books .ad{
    background: var(--color-deep-pink);
}

.container-bible-books .etc{
    background: var(--color--gray);
}

.container-bible-books .bible-book-button,
.container-bible-books .audio-book-button{
    box-shadow: 0px 2px 3px gray;
    min-width: 25vw;
    min-height: 25vw;
    max-width: 25vw;
    max-height: 25vw;
    margin: 0.5rem;

    font-size: var(--font-size-xl);
}

/* bible chapters */
.container-bible-chapter{
    position: absolute;
    background: var(--color-white);
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    padding-bottom: calc(var(--vh, 1vh) * 10);
    width: 95vw;
    max-width: 1200px;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-bible-chapter #current-chapter{
    text-align: left;
    padding-top: 1em;
}

.container-bible-chapter .bible-chapter-button{
    width: 80%;
    box-shadow: 0px 1px 3px gray;
    min-height: calc(var(--vh, 1vh) * 10);
    font-size: var(--font-size-xl);
}
.container-bible-chapter #decoration{
    color: var(--color-black);
    font-size: var(--font-size-xl);
}



/* container bible content */
.container-bible-content{
    position: absolute;
    background: var(--color-white);
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;

    padding-bottom: calc(var(--vh, 1vh) * 10);
    width: 95vw;
    max-width: 1200px;
    height: 100%;
    overflow-y: scroll;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-size-lg);
    line-height: 2em;
}

.container-bible-content #current-chapter{
    width: 100%;
    text-align: left;
    padding-top: 1em;
    /* border: 1px solid red; */
    padding-bottom: 1em;
}

.container-bible-content .accent{
    background: var(--color--gray);
}

.container-bible-content .verse-container{
    border: 1px solid rgb(231, 231, 231);
    width: 100%;
    padding: 0.5rem;
    padding-left: 1em;
    font-size: var(--font-size-lg);
}

.container-bible-content .verse{
    line-height: 1.7em;
}

/* section-audio-player */
.section-audio-player{
    background: var(--color-white);
    height: calc(var(--vh, 1vh) * 10);
    width: 100%;
    z-index: 200;
    box-shadow: 0px -2px 5px gray;
    position: fixed;
    bottom: 0;
}

.section-audio-player .container{
    height: 100%;
    width: 80vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section-audio-player .duration{
    position: absolute;
    width: transparent;
    height: 20px;
    margin-bottom: 40px;
    /* background: green; */
    background: none;
    z-index: 500;
}

.section-audio-player .duration:hover{
    cursor: pointer;
}

.section-audio-player .duration-time{
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background: none;
    z-index: inherit;
}

#current-time{
    left: 2rem;
}

#end-time{
    right: 2rem;
}

#duration-slider{
    width: 80vw ;
    max-width: 1200px;
}

.section-audio-player .button-container{
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    z-index: 300;

    transform: translateY(-50%);
}

.section-audio-player .button-container button{
    font-size: var(--font-size-xl);
}

.section-audio-player #current-music-title{
    flex: 1;
    font-size: var(--font-size-md);
}

@media(min-width: 1200px){
    .container-bible-books .bible-book-button,
    .container-bible-books .audio-book-button{
        min-width: 12vw;
        min-height: 12vw;
        max-width: 12vw;
        max-height: 12vw;
        margin: 0.5rem;
    }
}

@media(max-width: 700px){
    h1{
        font-size: 18px;
    }

    h2{
        font-size: 16px;
    }

    header #back-button{
        font-size: 1rem;
    }

    header .sub-container button{
        font-size: 18px;
    }

    header .sub-container .container-title{
        font-size: 18px;
    }

    .container-bible-books .bible-book-button, 
    .container-bible-books .audio-book-button{
        font-size: 16px;
        width: 23vw;
        height: 23vw;
        margin: 0.5rem;
    }

    .container-bible-chapter .bible-chapter-button{
        font-size: 16px;
    }

    .container-bible-content .verse-container{
        font-size: 14px;
    }
}